<!DOCTYPE html>
<html ng-app="TimelionApp">
  <head>
    <title>Carbon Recovery Calendar</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body>
    <header>
        <div class="hero-unit">
            <div class="container">
                <h1>Carbon Recovery Calendar</h1>
                <p>An interactive timeline for what, when &amp; how Carbie is healing.</p>
            </div>
        </div>
    </header>

    <section class="panel panel-default">
      <div class="panel-heading">
        Daily Log of the events that happened during Carbon's recovery,
        basically what drugs he got when.</div>
      <div class="panel-body">
        <p>Carbie's femur found a car's bumper on the last day of May 2014, a
        Saturday.  This log beings when he had his surgury, the following Monday,
        June 2nd. </p>
      </div>

      <table class="table table-striped">
          <thead ng-controller="MedController as medCtrl">
              <tr>
                  <th> Day           </th>
                  <th> Date          </th>
                  <th ng-repeat="med in medCtrl.getMeds()"> {{med}} </th>
              </tr>
          </thead>
          <tbody ng-controller="TimeController as time">
              <tr
                ng-repeat="event in time.events"
                ng-controller="EventController as E"
                ng-init="E.init(event)">
                  <td> <em> {{$index + 1}} </em> </td>
                  <td> {{event[0] | date}} </td>
                  <td ng-repeat="i in [0, 1, 2, 3, 4, 5, 6]">
                    <span ng-show="E.hasMeds(i)">
                      <span
                        class="label"
                        ng-repeat="dose in E.getMed(i) track by $index"
                        ng-class="{'label-primary':E.adminHome(i, $index),'label-default':E.adminClinic(i, $index)}">
                          {{E.med(i, dose)}}
                      </span>
                    </span>
                  </td>
              </tr>
          </tbody>
      </table>
    </section>

    <footer>
        <div class="hero-unit">
            <div class="container">
                <p>
                  <span class="label label-primary">Administered at home</span>
                  <span class="label label-default">Administered in the clinic</span>
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes on <strong>Cannabis</strong>: dosage before June
                      18th is estimated.
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes on <strong>Carprofen</strong>: Rimadyl used through
                      June 12th, then he started getting Carproby from Bayer.
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes for <strong>June 2nd - 5th</strong>: Probably he got
                      some hard-core opiates in the Clinic but we are not sure
                      what he got actually.
                </p>
            </div>
        </div>
    </footer>

  </body>
</html>
