<!DOCTYPE html>
<html ng-app="TimelionApp">
  <head>
    <title>Carbon Recovery Calendar</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>

  <body>
    <header>
        <div class="hero-unit">
            <div class="container">
                <h1>Carbon Recovery Calendar</h1>
                <p>An interactive timeline for what, when &amp; how Carbie is healing.</p>
            </div>
        </div>
    </header>

    <section class="panel panel-default">
      <div class="panel-heading">
        Daily Log of the events that happened during Carbon's recovery,
        basically what drugs he got when.</div>
      <div class="panel-body">
        <p>Carbie's femur found a car's bumper on the last day of May 2014, a
        Saturday.  This log beings when he had his surgery, the following Monday,
        June 2nd. </p>
      </div>

      <table class="table table-striped">
          <thead ng-controller="MedController as medCtrl">
              <tr>
                  <th> Day           </th>
                  <th> Date          </th>
                  <th> Clinic        </th>
                  <th ng-repeat="med in medCtrl.getMeds()"> {{med}} </th>
              </tr>
          </thead>
          <tbody ng-controller="TimeController as time">
              <tr
                ng-repeat="event in time.events"
                ng-controller="EventController as E"
                ng-init="E.init(event)">
                  <td> <em ng-show="$index > 1"> {{$index - 1}} </em> </td>
                  <td> {{event[0] | date}} </td>
                  <td> <span class="badge" ng-show="E.atClinic()" ng-repeat="person in E.getClinicVisitors()"> {{person}} </span> </td>
                  <td ng-show="!E.hasMeds()" colspan="10"> {{E.getMeds()}} </td>
                  <td ng-show="E.hasMeds()" ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                    <span ng-show="E.hasDosage(i)">
                      <span
                        class="label"
                        ng-repeat="dose in E.getMed(i) track by $index"
                        ng-class="{'label-primary':E.adminHome(i, $index),'label-default':E.adminClinic(i, $index)}">
                          {{E.med(i, dose)}}
                      </span>
                    </span>
                  </td>
              </tr>
          </tbody>
      </table>
    </section>

    <footer>
        <div class="hero-unit">
            <div class="container">
                <p>
                  <span class="label label-primary">Administered at home</span>
                  <span class="label label-default">Administered in the clinic</span>
                  Tuxtla:
                  <span class="badge">C</span>Carbon
                  <span class="badge">Z</span>Zosia
                  <span class="badge">A</span>Aga
                  <span class="badge">R</span>Rocio
                  <span class="badge">S</span>Steven
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes on <strong>Cannabis</strong>: dosage before June
                      18th is estimated.
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes on <strong>Carprofen</strong>: Rimadyl used except for
                      June 13-16 when he got Carprobay from Bayer.
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes for <strong>June 2nd - 5th</strong>: Probably he got
                      some hard-core opiates in the Clinic but we are not sure
                      what he got actually.
                </p>
                <p class="alert alert-info">
                  <span class="glyphicon glyphicon-hand-right"></span>
                  Notes for <strong>June 23rd</strong>: Received 1 ml of
                  Xilacina (Xylazine sold as Rompun by Bayer) in Marina's
                  clinic to calm him for his X-ray.
                </p>
            </div>
        </div>
    </footer>

  </body>
</html>
