/* menu */

.menu {
  border-top: 0.1em dotted black;
  font-size: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* panel */

.panel {
  margin-left: 37px;
}

/* table */

.table-notes {
  max-width: 800px;
}
.table td {
  white-space: nowrap;
}
.table td.notes, .table td.meds {
  white-space: inherit;
}
.table caption {
  font-size: 2em;
}
.table-hover tbody tr:hover td {
  background-color: #A0C1FB;
}

/* grid*/

.gridStyle {
  display: inline-table;
  border: 1px solid rgb(212,212,212);
  width: 600px;
}
.gridStyle .lalign {
  text-align: left;
}
.gridStyle .ralign {
  text-align: right;
}
.gridStyle .ngFooterTotalItems {
  font-size: 1.2em;
}

/* badges */

.badge.B1 {
  background-color: red;
}
.badge.B2 {
  background-color: orange;
}
.badge.B3 {
  background-color: gold;
}
.badge.B4 {
  background-color: green;
}
.badge.B5 {
  background-color: blue;
}
.badge.B6 {
  background-color: indigo;
}
.badge.B0 {
  background-color: violet;
}

.miceli {
  background-color: green;
}
.marina {
  background-color: cyan;
}

/* other */

.data-container {
  text-align: center;
}
.banner {
  font-size: 2em;
}
#plug {
  text-align: center;
}
