/* menu */

.menu {
  border-top: 0.1em dotted black;
  font-size: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* panel */

.panel {
  margin-left: 37px;
}

/* table */

.table caption {
  font-size: 2em;
}

/* grid*/

.gridStyle {
  display: inline-table;
  border: 1px solid rgb(212,212,212);
  width: 600px;
}
.gridStyle .lalign {
  text-align: left;
}
.gridStyle .ralign {
  text-align: right;
}
.gridStyle .ngFooterTotalItems {
  font-size: 1.2em;
}

/* other */

.data-container {
  text-align: center;
}
.banner {
  font-size: 2em;
}

.miceli {
  background-color: green;
}
.marina {
  background-color: cyan;
}
#plug {
  text-align: center;
}
