/* menu */

.menu {
  border-top: 0.1em dotted black;
  font-size: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* panel */

.panel {
  margin-left: 37px;
}

/* table */

.table-notes, .table-xrays {
  max-width: 800px;
}
.table-hover tbody tr:hover td {
  background-color: #CDE1FF;
}
.table td {
  white-space: nowrap;
}
.table td.notes, .table td.meds {
  white-space: inherit;
}
.table td.meds {
  text-align: center;
}
.table td.event-date {
  text-align: right;
}
.table td.clinics {
  text-align: center;
}

/* grid*/

.gridStyle {
  display: inline-table;
  border: 1px solid rgb(212,212,212);
  width: 600px;
}
.gridStyle .lalign {
  text-align: left;
}
.gridStyle .ralign {
  text-align: right;
}
.gridStyle .ngFooterTotalItems {
  font-size: 1.2em;
}

/* badges */

.miceli-clinic {
  background-color: green;
}
.beremiz-clinic {
  background-color: blue;
}
.fernanda-clinic {
  background-color: purple;
}
.other-clinic {
  background-color: cyan;
}

/* other */

.data-container {
  text-align: center;
}
.page-header {
  text-align: center;
  font-size: 2em;
}
#plug {
  text-align: center;
}
