<section>
    <div class="hero-unit">
        <div class="container">
            <p align="center">
                Visits to clinics:
                <span class="badge miceli-clinic">M</span> Miceli,
                <span class="badge other-clinic">O</span> Other;
                Medication:
                <span ng-show="observers" class="label label-primary">Zosia observed</span>
                <span ng-show="observers" class="label label-default">Zosia did not observe</span>
            </p>
            <p ng-show="extraNotes" class="alert alert-info">
                <span class="glyphicon glyphicon-hand-right"></span>
                Notes for <strong>June 2nd - 5th</strong> as well as <strong>Sept 8th
                - 13th</strong>: Probably he got some hard-core opiates in the Clinic
                but we are not sure what he actually got.
            </p>
        </div>
    </div>
</section>
