<div class="data-container">

  <p class="banner">{{ name }}</p>

  <div class="gridStyle" ng-grid="dataGrid"></div>

  <script type="text/ng-template" id="gridFooter">

    <div ng-show="showFooter" class="ngFooterPanel" ng-style="footerStyle()">
      <div class="ngTotalSelectContainer">


        <div class="ngFooterSelectedItems" ng-show="selectedItems.length">
          <span class="ngLabel">
            {{ i18n.ngSelectedItemsLabel }} {{ selectedItems.length }} @
            {{ total_selected | currency:"MXN$ " }}
          </span>
        </div>

        <div class="ngFooterTotalItems">
          <span class="ngLabel">
            {{ i18n.ngTotalItemsLabel }} {{ maxRows() }} @
            {{ total | currency:"MXN$ " }}
          </span>
        </div>

      </div>
    </div>

  </script>

  <p> Note: costs do NOT include: laser, essential oils. </p>

</div>
