  <table class="table table-striped table-hover table-notes container">
    <caption> Notes </caption>
    <thead ng-controller="MedController">
      <tr>
          <th style="text-align: right"> Day/Wk </th>
          <th>        </th>
          <th style="text-align: center"> Date </th>
          <th> Clinic </th>
          <th> Notes  </th>
      </tr>
    </thead>
    <tbody ng-controller="EventsController">
      <tr
        ng-repeat="event in events"
        ng-controller="EventController as E"
        ng-init="E.init($index, event)"
        ng-show="event.notes"
        >
          <td align="right">
            <span ng-bind="event.prpday" ng-show="event.prpday > 0" title="{{ event.prpday }} Days after PrP surgury"     class="badge"></span>
            <span ng-bind="event.day"    ng-show="event.day > 0"    title="{{ event.day    }} Days after initial surgury" class="badge"></span>
            <span ng-bind="event.week"   ng-show="event.day > 0"    title="Week {{ event.week }} after initial surgury"   class="badge"></span>
          </td>
          <td>
            <span class="glyphicon lyphicon glyphicon-list-alt" ng-show="event.notes" title="Note for this date"></span>
            <span class="glyphicon lyphicon glyphicon-picture" ng-show="event.notes | xRay" title="X-ray for this date"></span>
          </td>
          <td class="event-date" ng-bind="event.date"></td>
          <td>
            <span class="badge miceli" ng-show="E.atClinic(0)" ng-repeat="person in E.getClinicVisitors(0)" ng-bind="person"></span>
            <span class="badge marina" ng-show="E.atClinic(1)" ng-repeat="person in E.getClinicVisitors(1)" ng-bind="person"></span>
          </td>
          <td class="notes" ng-bind-html="event.notes | rawHtml"></td>
      </tr>
    </tbody>
    <tfoot ng-controller="MedController">
      <tr>
          <th style="text-align: right"> Day/Wk </th>
          <th>        </th>
          <th> Date   </th>
          <th> Clinic </th>
          <th> Notes  </th>
      </tr>
    </tfoot>
  </table>

  <section>
    <div class="hero-unit">
      <div class="container">
        <p align="center">
         Visits to clinics
         <span class="badge miceli">Miceli</span>:
         <span class="badge miceli">C</span>Carbon
         <span class="badge miceli">Z</span>Zosia
         <span class="badge miceli">A</span>Aga
         <span class="badge miceli">R</span>Rocio
         <span class="badge miceli">S</span>Steven
         &nbsp;
         <span class="badge marina">Other</span>:
         <span class="badge marina">C</span>Carbon
         <span class="badge marina">Z</span>Zosia
         <span class="badge marina">S</span>Steven
        </p>
      </div>
    </div>
  </section>
