  <table class="table table-striped">
    <caption>Meds</caption>
    <thead ng-controller="MedController">
      <tr>
          <th> Day    </th>
          <th>        </th>
          <th> Date   </th>
          <th> Clinic </th>
          <th
            ng-repeat="med in meds"
            bs-popover
            ><span
              data-container="th"
              data-original-title="{{med.engl}}"
              data-placement="top"
              data-toggle="tooltip"
              ><button
                type="button"
                class="btn btn-default"
                data-container="th"
                data-content="<p>{{med.pron}}</p><ul><li><med>{{med.bran}}</med></ul><p>{{med.html}}</p>"
                data-html="true"
                data-original-title="<h2><a href='{{med.link}}'>{{med.engl}}</a></h2>"
                data-placement="bottom"
                data-toggle="popover"
                ng-bind="med.name"
              ></button>
            </span>
          </th>
      </tr>
    </thead>
    <tbody ng-controller="EventsController">
      <tr
        ng-repeat="event in events"
        ng-controller="EventController as E"
        ng-init="E.init(event)"
        title="{{event.notes}}">
          <td align="right"> <span class="badge" ng-show="$index > 1"> {{$index - 1}} </span> </td>
          <td> <span class="glyphicon lyphicon glyphicon-list-alt" ng-show="event.notes"></span> </td>
          <td ng-bind="event.date"></td>
          <td>
            <span class="badge miceli" ng-show="E.atClinic(0)" ng-repeat="person in E.getClinicVisitors(0)" ng-bind="person"></span>
            <span class="badge marina" ng-show="E.atClinic(1)" ng-repeat="person in E.getClinicVisitors(1)" ng-bind="person"></span>
          </td>
          <td ng-show="!E.hasMeds()" colspan="{{E.meds.length}}}" ng-bind="event.notes"></td>
          <td ng-show="E.hasMeds()" ng-repeat="i in E.meds_indexes">
            <span ng-show="E.hasDosage(i)">
              <span
                class="label"
                ng-repeat="dose in E.getMed(i) track by $index"
                ng-class="{'label-primary':E.observed(i, $index),'label-default':E.unobserved(i, $index)}">
                  {{E.med(i, dose)}}
              </span>
            </span>
          </td>
      </tr>
    </tbody>
  </table>
