<tr>
    <th style="text-align: right"> Day/Wk </th>
    <th>        </th>
    <th style="text-align: center"> Date </th>
    <th> Clinic </th>
    <th
      ng-repeat="med in meds"
      bs-popover
      ><span
        data-container="th"
        data-original-title="{{med.engl}}"
        data-placement="top"
        data-toggle="tooltip"
        ><button
          type="button"
          class="btn btn-default"
          data-container="th"
          data-content="<p>{{med.pron}}</p><ul><li><med>{{med.bran}}</med></ul><p>{{med.html}}</p>"
          data-html="true"
          data-original-title="<h2><a href='{{med.link}}'>{{med.engl}}</a></h2>"
          data-placement="bottom"
          data-toggle="popover"
          ng-bind="med.name"
        ></button>
      </span>
    </th>
</tr>
